/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --main-color: black;
  --main-hover-color: 34, 41, 57;
  --raw-bg-color: rgba(101, 117, 133, 0.16);
  --main-bg-color: white;
  --nav-bg-color: white;
  --date-color: #dfdfd6;
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
body {
  --vp-font-family-base: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-font-family-mono: ui-monospace, "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;

  font-family: var(--vp-font-family-base);
  margin: 0;
  padding: 0;
  text-align: justify;
  background: var(--main-bg-color);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--main-color);
  line-height: 1.7;
}
main,
.search {
  max-width: min(56rem, calc(100% - 2em));
  margin: auto;
}
main {
  padding: 3em 1em;
}
@media (max-width: 720px) {
  main {
    padding: 1em;
  }
  body {
    text-align: left;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}
h1 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
h2 {
  font-size: 2em;
  margin-top: 1.6em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
h3 {
  font-size: 1.5em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.45;
}
h4 {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
h5 {
  font-size: 1.1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
p {
  margin-block-end: 0.5em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a {
  transition: color 0.1s ease-in-out;
}
a:hover {
  color: var(--accent-dark);
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
pre,
code,
kbd,
samp {
  font-family: var(--vp-font-family-mono);
}
code {
  padding: 2px 5px;
  background-color: var(--raw-bg-color);
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 18px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--raw-bg-color);
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
nav a,
.social-links a {
  text-decoration: none;
  color: var(--main-color);
}
nav a:hover,
.social-links a:hover {
  color: var(--main-hover-color);
}
.social-links svg {
  width: 32px;
  height: 32px;
}
.social-links svg path {
  fill: currentColor;
}
.theme-icon {
  cursor: pointer;
}
.dark .theme-icon.light {
  display: block;
}
.dark .theme-icon.dark {
  display: none;
}
.theme-icon.light {
  display: none;
}
.theme-icon.dark {
  display: block;
}

figcaption {
  text-align: center;
}
.code-image svg {
  max-width: 100%;
  height: fit-content;
}
.inline-equation {
  display: inline-block;
  width: fit-content;
  margin: 0 0.15em;
}
.block-equation {
  display: grid;
  place-items: center;
  overflow-x: auto;
}
