:root.dark {
  --main-color: #dfdfd6;
  --main-hover-color: #fff;
  --date-color: #dfdfd6;
  --raw-bg-color: #65758529;
  --main-bg-color: #212737;
  --nav-bg-color: #212737;
  --accent: #cf829e;
  --accent-dark: #cf829eb3;
}
