.posts li {
  margin-top: 0.5em;
}
.posts li > a.heading {
  display: flex;
}
.date {
  font-style: italic;
}
.posts .date {
  margin-left: 0.5em;
  color: var(--accent);
}
.posts h4 {
  margin: 0;
}
.posts h4,
.posts .date {
  line-height: 32px;
}
