---
import { BaseHead, Footer, Header } from "$components";
import { kFriendLinks } from "$consts";
---

<html lang="en">
  <head>
    <BaseHead title="Friend Link" description="Friend Link of Yorisou" />
    <style></style>
  </head>
  <body>
    <Header breadcrumbs="Friends" />
    <main>
      <h1 style="text-align: center;">Friend Links</h1>
      <section>
        <ul>
          {
            kFriendLinks.map((link) => (
              <li>
                <a href={link.url} target="_blank">
                  {link.name}
                </a>
                <p>{link.desc}</p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
