---
import BaseHead from "$components/BaseHead.astro";
import Footer from "$components/Footer.astro";
import Header from "$components/Header.astro";

const friendLinks = [
  {
    name: "7mile",
    url: "https://7li.moe/",
    desc: "一切都有其意义，包括停滞不前的日子。",
  },
  {
    name: "Margatroid",
    url: "https://blog.mgt.moe/",
    desc: "SIGSLEEP Fellow",
  },
];
---

<html lang="en">
  <head>
    <BaseHead title="Friend Link" description="Friend Link of Myriad Dreamin" />
    <style></style>
  </head>
  <body>
    <Header />
    <main>
      <h1 style="text-align: center;">Friend Links</h1>
      <section>
        <ul>
          {
            friendLinks.map((link) => (
              <li>
                <a href={link.url} target="_blank">
                  {link.name}
                </a>
                <p>{link.desc}</p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
