---
import { kUrlBase } from "$consts";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
const postByTag = (tag: string) => {
  const params = new URLSearchParams();
  params.set("search", tag);
  return `${kUrlBase}/article?${params}`;
};
---

<ul class="tags" aria-label="Tags">
  {
    tags.map((tag) => (
      <li>
        <a href={postByTag(tag)}>#{tag}</a>
      </li>
    ))
  }
</ul>
